.card {
  box-sizing: border-box;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  text-align: center;
  transition: 500ms;
  margin: 10px;
  font-family: "Roboto Mono", monospace;
  color: black;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 7px 8px 3px rgba(0,0,0,0.35);
}

.card .img_pokemon {
    transition: 500ms;
}

.card:hover .img_pokemon {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 12px rgba(0,0,0,0.8));
}

.name-type_container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    color: white;
    padding: 8px 0;
    transition: 400ms;
}

.name-type_container p {
    margin-top: 0;
}

/* Tipo fuego */
.type7 {
  background-image: url("https://pm1.narvii.com/7243/8ee17e7a8790303410b30a2fbcb18183fc12166er1-623-499v2_hq.jpg");
  background-size: cover;
}

/* Tipo planta */
.type12 {
  background-image: url("https://thumbs.dreamstime.com/b/abstract-gradient-green-background-transparency-leaf-ecology-concepts-wiht-copy-space-91285520.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* Tipo agua */
.type2 {
  /* background-color: #7ed6ff; */
  background-image: url("https://pm1.narvii.com/7243/46d5cfd672a1e2fca16c78d728e2b10cb57f7ce0r1-669-521v2_hq.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -120px 0;
}

/* Tipo dragón */
.type4 {
    background-image: url('https://pm1.narvii.com/7243/adcbbe4c769bbaf0858abef9625077294911804br1-593-534v2_hq.jpg');
    background-size: cover;
}

/* Tipo bicho */
.type3 {
  background-image: url("https://pm1.narvii.com/7243/0d2736d705781ea116d08621abbfefae60a971c2r1-700-542v2_hq.jpg");
  background-size: 350px 360px;
  background-position: -100px 0;
}

/* Tipo normal */
.type11 {
  background-image: url("https://pm1.narvii.com/7243/f2fb9db8191078f72c8b98fee93155c56e6e8674r1-673-421v2_hq.jpg");
  background-size: cover;
}

/* Tipo veneno */
.type17 {
  background-image: url("https://pm1.narvii.com/7243/b0945fed2f0cc9fa340c6e7deb851c14ddf53e30r1-575-530v2_hq.jpg");
  background-size: cover;
}

/* Tipo eléctrico */
.type5 {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/30751457-a50b-4f4c-a9f2-5a8ee5504f89/d6awe5m-d41ba327-6970-4ab7-8353-6f236d203006.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi8zMDc1MTQ1Ny1hNTBiLTRmNGMtYTlmMi01YThlZTU1MDRmODkvZDZhd2U1bS1kNDFiYTMyNy02OTcwLTRhYjctODM1My02ZjIzNmQyMDMwMDYucG5nIn1dXX0.PcYLlQmiiGbZrRNgrHo6fYRoHVcQxTCqNUEOrSNA4Zk');
    background-size: 400px 450px;
}

/* Tipo tierra */
.type16 {
    background-image: url('https://pm1.narvii.com/7243/10ed1c931a1b46035f01315731b1f3f70ec24f5er1-656-454v2_hq.jpg');
    background-size: 300px 400px;
}

/* Tipo hada */
.type8 {
    background-image: url('https://pm1.narvii.com/7243/61770aa4b0259c06cd4b1fa490007c29e27d6683r1-663-565v2_hq.jpg');
}

/* Tipo lucha */
.type10 {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3623cfbc-41a8-40f4-bd77-184800f2bd81/dab816e-79f87151-5050-41ee-b51a-dba997b4da34.jpg/v1/fill/w_1023,h_777,q_75,strp/pokemon_go_fighting_type_background_by_thoritegem_dab816e-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03NzciLCJwYXRoIjoiXC9mXC8zNjIzY2ZiYy00MWE4LTQwZjQtYmQ3Ny0xODQ4MDBmMmJkODFcL2RhYjgxNmUtNzlmODcxNTEtNTA1MC00MWVlLWI1MWEtZGJhOTk3YjRkYTM0LmpwZyIsIndpZHRoIjoiPD0xMDIzIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.0Zz_cOVbrSHMVgIAwgW5bmoUX81-A8xJvw9pxp46jKk');
    background-repeat: no-repeat;
    background-size: 350px 350px;
    background-position: -60px 0;
}

/* Tipo psíquico */
.type13 {
    background-image: url('https://pm1.narvii.com/7243/19a53b46a48f55a346f130092cb2c8d8fcf88af0r1-642-671v2_hq.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -50px 0;
}

/* Tipo roca */
.type14 {
    background-image: url('https://pm1.narvii.com/7243/843acea2bde21f7ae7e1f17c0da831acea46a2acr1-692-503v2_hq.jpg');
    background-size: cover;
}

/* Tipo hielo */
.type9 {
    background-image: url('https://pm1.narvii.com/7243/fc715e840930cac4f0577c69aa6721ff0b689b11r1-677-462v2_hq.jpg');
    background-size: cover;
}

/* Tipo fantasma */
.type6 {
    background-image: url('https://pm1.narvii.com/7243/1932c3243860328e1f1cd07d65e02649672380ecr1-700-444v2_hq.jpg');
    background-size: cover;
    background-position: -160px 0;
}

.numpokedex {
  background: rgb(202, 202, 202, 0.8);
  border-radius: 25px;
  max-width: 50px;
  margin: 0 auto;
  margin-bottom: 15px;
}
