.custom_card {
  font-family: "Roboto Mono", monospace;
  margin: 10px;
  padding: 15px;
  width: 230px;
  height: 330px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  color: black;
  background-color: whitesmoke;
}

.custom_card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 7px 8px 3px rgba(0, 0, 0, 0.35);
}

.custom_card,
.custom_card .img_pokemon {
  transition: 0.5s;
}

.custom_card .numpokedex {
  background: rgb(202, 202, 202, 0.8);
  border-radius: 25px;
  min-width: 50px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.custom_card:hover .img_pokemon {
  transform: scale(1.1);
  filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.8));
}

.custom_card .name-type_container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  color: white;
  padding: 8px 0;
  transition: 400ms;
}

.custom_card .name-type_container .type_image {
  border-radius: 8px;
}

.custom_card .name-type_container .type_image:first-of-type {
  margin-right: 5px;
}

.custom_card .name-type_container p {
  margin-top: 0;
}

/* Tipo agua */
.type2 {
  background-image: url('../../Assets/img/card_background/water_type.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -120px 0;
}

/* Tipo bicho */
.type3 {
  background-image: url('../../Assets/img/card_background/bug_type.jpg');
  background-size: 350px 360px;
  background-position: -100px 0;
}

/* Tipo dragón */
.type4 {
  background-image: url('../../Assets/img/card_background/dragon_type.jpg');
  background-size: cover;
}

/* Tipo eléctrico */
.type5 {
  background-image: url('../../Assets/img/card_background/electric_type.jpg');
  background-size: 400px 450px;
}

/* Tipo fantasma */
.type6 {
  background-image: url('../../Assets/img/card_background/ghost_type.jpg');
  background-size: cover;
  background-position: -160px 0;
}

/* Tipo fuego */
.type7 {
  background-image: url('../../Assets/img/card_background/fire_type.jpg');
  background-size: cover;
}

/* Tipo hada */
.type8 {
  background-image: url('../../Assets/img/card_background/fairy_type.jpg');
}

/* Tipo hielo */
.type9 {
  background-image: url('../../Assets/img/card_background/ice_type.jpg');
  background-size: cover;
}

/* Tipo lucha */
.type10 {
  background-image: url('../../Assets/img/card_background/fighting_type.jpg');
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position: -60px 0;
}

/* Tipo normal */
.type11 {
  background-image: url('../../Assets/img/card_background/normal_type.jpg');
  background-size: cover;
}

/* Tipo planta */
.type12 {
  background-image: url('../../Assets/img/card_background/grass_type.jpg');
  background-size: cover;
}

/* Tipo psíquico */
.type13 {
  background-image: url('../../Assets/img/card_background/psychic_type.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -50px 0;
}

/* Tipo roca */
.type14 {
  background-image: url('../../Assets/img/card_background/rock_type.jpg');
  background-size: cover;
}

/* Tipo tierra */
.type16 {
  background-image: url('../../Assets/img/card_background/ground_type.jpg');
  background-size: 300px 400px;
}

/* Tipo veneno */
.type17 {
  background-image: url('../../Assets/img/card_background/poison_type.jpg');
  background-size: cover;
}
