#pokemon_page {
  background-color: rgb(240, 240, 240);
  margin: 0 auto;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2em;
}

.pokemon_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.component_section {
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid gray;
  margin-bottom: 40px;
}

.component_section.description::before {
  content: "Descripción";
  box-sizing: border-box;
  position: absolute;
  top: -15px;
  background-color: white;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px;
  border-color: gray;
  box-shadow: 0px 0px 20px 1px rgba(128, 128, 128, 0.3);
  border-style: solid;
  padding: 0 5px;
}

#pokemon_page .num_pokedex {
  margin: 0;
}

.abilities_container {
  position: relative;
}

.component_section.abilities_container::before {
  content: "Habilidades";
  box-sizing: border-box;
  position: absolute;
  top: -15px;
  background-color: white;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px;
  border-color: gray;
  box-shadow: 0px 0px 20px 1px rgba(128, 128, 128, 0.3);
  border-style: solid;
  padding: 0 5px;
}

.characteristics {
  position: relative;
}

.component_section.characteristics::before {
  content: "Características";
  box-sizing: border-box;
  position: absolute;
  top: -15px;
  background-color: white;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px;
  border-color: gray;
  box-shadow: 0px 0px 20px 1px rgba(128, 128, 128, 0.3);
  border-style: solid;
  padding: 0 5px;
}

.component_section.movements {
  position: relative;
}

.component_section.movements::before {
  content: "Movimientos";
  box-sizing: border-box;
  position: absolute;
  top: -15px;
  background-color: white;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px;
  border-color: gray;
  box-shadow: 0px 0px 20px 1px rgba(128, 128, 128, 0.3);
  border-style: solid;
  padding: 0 5px;
}

.component_section.evolutions {
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.component_section.evolutions::before {
  content: "Evoluciones";
  box-sizing: border-box;
  position: absolute;
  top: -15px;
  background-color: white;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px;
  border-color: gray;
  box-shadow: 0px 0px 20px 1px rgba(128, 128, 128, 0.3);
  border-style: solid;
  padding: 0 5px;
}

.evolution_requirements {
  position: relative;
}

.evolution_requirements::before {
  content: 'Requisito:';
  position: absolute;
  top: -25px;
  font-size: 1rem;
}

.icon {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  transition: 200ms all;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.typeImage3 {
  background: #92bc2c;
  box-shadow: 0 0 20px #92bc2c;
}

.typeImage15 {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.typeImage4 {
  background: #0c69c8;
  box-shadow: 0 0 20px #0c69c8;
}

.typeImage5 {
  background: #f2d94e;
  box-shadow: 0 0 20px #f2d94e;
}

.typeImage7 {
  background: #fba54c;
  box-shadow: 0 0 20px #fba54c;
}

.typeImage8 {
  background: #ee90e6;
  box-shadow: 0 0 20px #ee90e6;
}

.typeImage10 {
  background: #d3425f;
  box-shadow: 0 0 20px #d3425f;
}

.typeImage18 {
  background: #a1bbec;
  box-shadow: 0 0 20px #a1bbec;
}

.typeImage6 {
  background: #5f6dbc;
  box-shadow: 0 0 20px #5f6dbc;
}

.typeImage12 {
  background: #5fbd58;
  box-shadow: 0 0 20px #5fbd58;
}

.typeImage16 {
  background: #da7c4d;
  box-shadow: 0 0 20px #da7c4d;
}

.typeImage9 {
  background: #75d0c1;
  box-shadow: 0 0 20px #75d0c1;
}

.typeImage11 {
  background: #a0a29f;
  box-shadow: 0 0 20px #a0a29f;
}

.typeImage17 {
  background: #b763cf;
  box-shadow: 0 0 20px #b763cf;
}

.typeImage13 {
  background: #fa8581;
  box-shadow: 0 0 20px #fa8581;
}

.typeImage14 {
  background: #c9bb8a;
  box-shadow: 0 0 20px #c9bb8a;
}

.typeImage1 {
  background: #5695a3;
  box-shadow: 0 0 20px #5695a3;
}

.typeImage2 {
  background: #539ddf;
  box-shadow: 0 0 20px #539ddf;
}