#pokemonlist_page {
  margin-left: 5rem;
  background-image: radial-gradient(circle at top left, rgb(195, 195, 195) 0%, rgb(195, 195, 195) 2%,rgb(202, 202, 202) 2%, rgb(202, 202, 202) 23%,rgb(209, 209, 209) 23%, rgb(209, 209, 209) 55%,rgb(217, 217, 217) 55%, rgb(217, 217, 217) 80%,rgb(224, 224, 224) 80%, rgb(224, 224, 224) 86%,rgb(231, 231, 231) 86%, rgb(231, 231, 231) 96%,rgb(238, 238, 238) 96%, rgb(238, 238, 238) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.pokemonlist_grid {
    display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemonlist_grid a {
    text-decoration: none;
}

.page_title {
  font-size: 4em;
  font-family: "Bebas Neue", cursive;
  text-shadow: 3px 3px 3px rgb(87, 87, 87);
}

@media (max-width: 600px) {
  #pokemonlist_page {
    margin: 0;
  }

  .pokemonlist_grid {
    width: 100%;
  }
}
