#pokemonlist_page {
  margin-left: 5rem;
  background-image: radial-gradient(circle at top left, rgb(195, 195, 195) 0%, rgb(195, 195, 195) 2%,rgb(202, 202, 202) 2%, rgb(202, 202, 202) 23%,rgb(209, 209, 209) 23%, rgb(209, 209, 209) 55%,rgb(217, 217, 217) 55%, rgb(217, 217, 217) 80%,rgb(224, 224, 224) 80%, rgb(224, 224, 224) 86%,rgb(231, 231, 231) 86%, rgb(231, 231, 231) 96%,rgb(238, 238, 238) 96%, rgb(238, 238, 238) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.page_title {
  font-size: 4em;
  font-family: "Bebas Neue", cursive;
  text-shadow: 3px 3px 3px rgb(87, 87, 87);
}

.background_loading {
  margin: 10px;
  padding: 15px;
  width: 230px;
  height: 330px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.background_loading {
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 13%, #dddddd 25%, #eeeeee 44%);
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@media (max-width: 600px) {
  #pokemonlist_page {
    margin: 0;
  }

  .pokemonlist_grid {
    width: 100%;
  }
}
