body {
  text-align: center;
  color: #f5f5f5;
}

.content_container {
  margin-left: 5rem;
}

.section_title {
  font-size: 4em;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 3px 3px 3px rgb(87, 87, 87);
}

#logo_Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_logo {
  width: 200px;
  height: 200px;
}

.homepage {
  background-image: radial-gradient(
    circle at center center,
    rgb(255, 128, 130),
    rgb(230, 104, 109),
    rgb(221, 89, 96),
    rgb(206, 56, 65),
    rgb(190, 23, 35)
  );
}

.homepage h1 {
  font-size: 5em;
  text-shadow: 3px 3px 3px rgb(87, 87, 87);
  font-family: "Audiowide", cursive;
}

.homepage p {
  width: 80%;
  margin: 50px auto;
  font-size: 1.5em;
  font-family: "Roboto Mono", monospace;
  text-shadow: 0px 0px 5px rgb(114, 114, 114);
}

.arrow_down {
  position: absolute;
  bottom: 50px;
  animation-name: bounce-4;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: initial;
  cursor: pointer;
}

.pokemon_section {
  background-image: radial-gradient(
    circle at bottom right,
    rgb(52, 33, 141) 0%,
    rgb(52, 33, 141) 20%,
    rgb(52, 50, 168) 20%,
    rgb(52, 50, 168) 40%,
    rgb(52, 68, 195) 40%,
    rgb(52, 68, 195) 60%,
    rgb(52, 85, 221) 60%,
    rgb(52, 85, 221) 80%,
    rgb(52, 102, 248) 80%,
    rgb(52, 102, 248) 100%
  );
}

@keyframes bounce-4 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  50% {
    transform: scale(1, 1) translateY(10px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@media (max-width: 800px) {
  .homepage h1 {
    font-size: 4em;
  }

  .img_logo {
    width: 150px;
    height: 150px;
  }

  .homepage p {
    font-size: 1.3em;
  }
}

@media (max-width: 600px) {
  .content_container {
    margin: 0px 0px 12rem 0;
  }

  .homepage h1 {
    font-size: 3em;
  }

  .img_logo {
    width: 100px;
    height: 100px;
  }

  .homepage p {
    font-size: 1.2em;
    margin: 20px auto;
  }

  .arrow_down {
    bottom: 8rem;
  }
}
