.section {
  text-align: center;
}

.main_logo {
  display: flex;
  justify-content: center;
}

.img_logo {
  width: 180px;
  height: auto;
  filter: invert(100%);
}

.homepage {
  background-image: linear-gradient(to top, #e83e35 0%, #ff9c7d 100%);
}

.homepage h1 {
  font-size: 5em;
  color: #f5f5f5;
  text-shadow: 3px 3px 3px rgb(136, 135, 135);
  font-family: "Audiowide", cursive;
}

.arrow_down {
  position: absolute;
  bottom: 50px;
  animation-name: bounce-4;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: initial;
  cursor: pointer;
}

@keyframes bounce-4 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  50% {
    transform: scale(1, 1) translateY(10px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
