@media only screen and (max-width: 600px) {
  .logo {
    background-color: cadetblue;
  }

  .navbarPoke {
    bottom: 150px;
    right: 30px;
    width: 100vw;
    background-color: #313852;
  }

  /* .logo {
    display: none;
  } */

  /* .navbarPoke-nav {
        flex-direction: row;
    } */

  .hidden_nav {
    display: none;
  }

  .Pokelink-text:hover {
    text-decoration: none;
  }

  .navPoke-link {
    justify-content: center;
    background-color: #313852;
    text-decoration: none;
  }

  .toggle-nav_button {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 80px;
    right: 30px;
    border-radius: 50%;
    z-index: 150;
    transition: 500ms;
    color: black;
    font-size: 32px;
    font-weight: bold;
  }

  .toggle-nav_button span {
    position: absolute;
    top: 50%;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #000;
  }

  .toggle-nav_button span::before {
    content: "";
    height: 3px;
    width: 24px;
    background: #000;
    position: absolute;
    backface-visibility: hidden;
    right: 0;
    top: 8px;
    transition: transform 0.3s 0.3s;
  }

  .toggle-nav_button span::after {
    content: "";
    height: 3px;
    width: 24px;
    background: #000;
    position: absolute;
    backface-visibility: hidden;
    right: 0;
    bottom: 8px;
    transition: transform 0.3s 0.3s;
  }

  .toggle-nav_button:focus {
    outline: none;
  }
}

@media only screen and (min-width: 601px) {
  .navbarPoke {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .navbarPoke:hover {
    width: 16rem;
  }

  .navbarPoke-nav {
    flex-direction: column;
  }

  .navbarPoke:hover .Pokelink-text {
    display: inline;
    transition: opacity 600ms;
  }

  .navPoke-link:hover {
    background-color: #313852;
    text-decoration: none;
  }

  .Pokelink-text {
    display: none;
    margin-left: 1rem;
  }

  .toggle-nav_button {
    display: none;
  }
}

.navbarPoke {
  position: fixed;
  left: 0;
  z-index: 100;
  background-color: #404969;
  transition: width 200ms ease;
}

.navbarPoke-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navPoke-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #ccc;
  text-decoration: none;
  transition: 600ms;
  font-family: "Roboto Mono", monospace;
}

.navPoke-link:hover {
    color: white;
}

.navbarPoke-nav li:nth-child(1) .navPoke-link {
  font-family: "Audiowide", cursive;
  font-weight: bold;
}

.navPoke-item {
  width: 100%;
}

.navPoke-link img {
  min-width: 2rem;
  margin: 0 1.5rem;
  max-width: 2rem;
}

.logo {
  text-shadow: 3px 3px 3px rgb(87, 87, 87);
  text-align: center;
  color: #ccc;
  background: cadetblue;
  font-size: 1.5rem;
  width: 100%;
}

.logo .Pokelink-text {
  width: 100%;
}
