.loading_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
      circle at center center,
      transparent,
      rgb(0, 0, 0)
    ),
    linear-gradient(
      114deg,
      rgba(59, 59, 59, 0.05) 0%,
      rgba(59, 59, 59, 0.05) 50%,
      rgba(63, 63, 63, 0.05) 50%,
      rgba(63, 63, 63, 0.05) 100%
    ),
    linear-gradient(
      186deg,
      rgba(173, 173, 173, 0.05) 0%,
      rgba(173, 173, 173, 0.05) 50%,
      rgba(237, 237, 237, 0.05) 50%,
      rgba(237, 237, 237, 0.05) 100%
    ),
    linear-gradient(
      98deg,
      rgba(191, 191, 191, 0.05) 0%,
      rgba(191, 191, 191, 0.05) 50%,
      rgba(119, 119, 119, 0.05) 50%,
      rgba(119, 119, 119, 0.05) 100%
    ),
    linear-gradient(
      58deg,
      rgba(95, 95, 95, 0.05) 0%,
      rgba(95, 95, 95, 0.05) 50%,
      rgba(189, 189, 189, 0.05) 50%,
      rgba(189, 189, 189, 0.05) 100%
    ),
    linear-gradient(
      259deg,
      rgba(31, 31, 31, 0.05) 0%,
      rgba(31, 31, 31, 0.05) 50%,
      rgba(110, 110, 110, 0.05) 50%,
      rgba(110, 110, 110, 0.05) 100%
    ),
    linear-gradient(
      41deg,
      rgba(142, 142, 142, 0.05) 0%,
      rgba(142, 142, 142, 0.05) 50%,
      rgba(84, 84, 84, 0.05) 50%,
      rgba(84, 84, 84, 0.05) 100%
    ),
    linear-gradient(
      134deg,
      rgba(96, 96, 96, 0.05) 0%,
      rgba(96, 96, 96, 0.05) 50%,
      rgba(198, 198, 198, 0.05) 50%,
      rgba(198, 198, 198, 0.05) 100%
    ),
    linear-gradient(
      46deg,
      rgba(12, 12, 12, 0.05) 0%,
      rgba(12, 12, 12, 0.05) 50%,
      rgba(71, 71, 71, 0.05) 50%,
      rgba(71, 71, 71, 0.05) 100%
    ),
    radial-gradient(
      circle at center center,
      hsl(227, 81%, 21%),
      hsl(227, 81%, 21%)
    );
}

.card_container {
  position: relative;
  width: 230px;
  height: 329.6px;
  background-color: transparent;
  perspective: 900px;
}

.card_container_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  animation: loader_animation 2.6s linear infinite;
}

/* Sombra de la carta cargando */
.card_container_inner::after {
  content: " ";
  display: block;
  height: 8vw;
  width: 100%;
  position: absolute;
  bottom: -120px;
  transform: rotateX(90deg);
  background-image: radial-gradient(
    ellipse closest-side,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.loading_container .custom_card {
  text-decoration: none;
}

.loading_container .custom_card,
.loading_container .card_backside {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
}

.card_backside {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  background-image: url('../../Assets/img/card_background/card_backside.png');
  background-size: cover;
}

@keyframes loader_animation {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(180deg);
  }
  40% {
    transform: rotateY(360deg);
  }
  60% {
    transform: rotateY(720deg);
  }
  80% {
    transform: rotateY(1440deg) scale(2);
  }
  100% {
    transform: rotateY(2320deg) scale(3.5);
  }
}
